html {
  overflow-x: hidden;
}

body {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  font-size: larger;
  font-weight: 700;
  margin: 0;
  overflow-x: hidden;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titles {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
}

.wa {
  font-weight: 400;
  font-size: 3em;
}

.wrapped {
  margin-top: -3rem;
  margin-left: 4rem;
  font-size: 4em;
  font-weight: 500;
  color: #4ACA59;
}

.upload {
  background-color: #4aca59;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:2rem;
}

h2 {
  margin-top: 4rem;
  font-weight: 500;
  font-size: 2em;
  color: white;
}


.upload p {
  color:#30AB3F;
  margin-bottom: 0;
}

.upload a {
  text-decoration: none;
  color: white;
  margin-top: 1rem;
}

.input-div {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.drag-upload {
  border: dashed 3px #30AB3F;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.material-icons-outlined {
  font-family: 'Material Icons';
  font-size: 2.5em;
  color: #30ab3f;
}

#help-icon {
  font-size: inherit;
  padding-right: 2px;
}

label{
  display: inline-block;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
}

#file-submit {
    border: 0;
    padding: 8px;
    border-radius: 6px;
    background: white;
    font-family: 'DM Sans';
    margin-top: 2rem;
    display: flex;
    font-size: large;
}

#file-submit:hover {
  background: #30AB3F;
  transition-delay: 0.1s;
  color: white;
  cursor: pointer;
}

#file-chosen {
  color: #30AB3F;
  font-size: small;
}

.loader {
  border: 4px solid lightgray; /* Light grey */
  border-top: 4px solid #30AB3F; /* Blue */
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
  display: inline-block;
  margin-right: 4px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hide {
  display: none;
}

.hidden {
  visibility: hidden;
}

.hidden::before {
  visibility: hidden !important;
}

@media only screen and (max-width: 768px) {
  .wa {
    font-size: 2rem;
  }
  .wrapped {
    font-size: 3rem;
    margin-top: -2rem;
    margin-left: 2rem;
  }
}

.how-to {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #4aca59;
  width: 100%;
  padding: 2rem;
}
.howto-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.howto-content p {
  font-weight: normal;
  color: white;
  background: #30ab3f;
  padding: 1rem;
  text-align: center;
}

img {
  width: 12em;
  padding: 5px;
  background: #4aca59;
  border: solid 2px #4aca59;
}

.howto-imgs {
  background: #30ab3f;
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
}

hr {
  border: solid 2px #30ab3f;
  background-color: #30ab3f;
  width: 15%;
  height: 0;
}

#bolded {
  font-weight: bold;
}

#arrow {
  color: #4aca59;
}

.images {
  display: flex;
  padding-bottom: 1.5rem;
  flex-wrap: wrap;
  row-gap: 1rem;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
}

.disclaimer {
  display: flex;
  flex-direction: column;
  background-color: #4aca59;
  width: 100%;
  align-items: center;
}

.disclaimer p {
  width: 50%;
  background-color: #30ab3f;
  font-weight: normal;
  color: white;
  padding: 1rem;
  margin: 1rem;
}

/* for popper */
#data {
  font-size: 1rem;
  color: #30ab3f;
  display: flex; 
}

#data #help-icon {
  display: grid;
  align-items: center;
}

#tooltip {
  background: white;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.4rem;
  border-radius: 5px;
  max-width: 220px;
  text-align: center;
}

#tooltip a {
  color: #4aca59;
}

#tooltip a:hover {
  text-decoration: underline;
}

#p-arrow,
#p-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#p-arrow {
  visibility: hidden;
}

#p-arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='top'] > #p-arrow {
  bottom: -4px;
}

#tooltip[data-popper-placement^='bottom'] > #p-arrow {
  top: -4px;
}

#tooltip[data-popper-placement^='left'] > #p-arrow {
  right: -4px;
}

#tooltip[data-popper-placement^='right'] > #p-arrow {
  left: -4px;
}

footer {
  width: 100%;
  border-top: solid 5px #30ab3f;
  display: grid;
  place-items: center;
  font-weight: 500;
}


#heart {
  color: red;
}

footer a {
  text-decoration: none;
  color: black;
}
footer a:hover{
  text-decoration-line: underline;
  text-decoration-color: green;
  text-decoration-thickness: 3px;
}