html {
  overflow-x: hidden;
}

body {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'DM Sans', sans-serif;
  font-size: larger;
  font-weight: 700;
  margin: 0;
  overflow-x: hidden;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titles {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
}

.wa {
  font-weight: 400;
  font-size: 3em;
}

.wrapped {
  margin-top: -3rem;
  margin-left: 4rem;
  font-size: 4em;
  font-weight: 500;
  color: #4ACA59;
}

.upload {
  background-color: #4aca59;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:2rem;
}

h2 {
  margin-top: 4rem;
  font-weight: 500;
  font-size: 2em;
  color: white;
}


.upload p {
  color:#30AB3F;
  margin-bottom: 0;
}

.upload a {
  text-decoration: none;
  color: white;
  margin-top: 1rem;
}

.input-div {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.drag-upload {
  border: dashed 3px #30AB3F;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.material-icons-outlined {
  font-family: 'Material Icons';
  font-size: 2.5em;
  color: #30ab3f;
}

label{
  display: inline-block;
  color: white;
  padding: 0.5rem;
  cursor: pointer;
}

#file-submit {
    border: 0;
    padding: 8px;
    border-radius: 6px;
    background: white;
    font-family: 'DM Sans';
    margin-top: 2rem;
    display: flex;
    font-size: large;
}

#file-submit:hover {
  background: #30AB3F;
  transition-delay: 0.1s;
  color: white;
  cursor: pointer;
}

#file-chosen {
  color: #30AB3F;
  font-size: small;
}

.loader {
  border: 4px solid lightgray; /* Light grey */
  border-top: 4px solid #30AB3F; /* Blue */
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 2s linear infinite;
  display: inline-block;
  margin-right: 4px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.hide {
  display: none;
}

@media only screen and (max-width: 768px) {
  .wa {
    font-size: 2rem;
  }
  .wrapped {
    font-size: 3rem;
    margin-top: -2rem;
    margin-left: 2rem;
  }
}

.how-to {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #4aca59;
  width: 100%;
}
