html {
  background-image: url(longwave2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.bg-img {
  background-image: url(longwave2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

body {
  font-family: 'DM Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.msgs {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* HERE 4rem */
  row-gap: 1rem;
}

hr {
  width: 50%;
  border: solid 2px #ededed;
  background:#ededed;

}

#count {
  font-size: 1.5em;
  margin-right: 5px;
  color: #4ACA59;
}

.bubble {
    position: relative;
    background: #EDEDED;
    color: black;
    font-size: 2em;
    text-align: center;
    width: max-content;
    border-radius: 28px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    height: fit-content;
}

.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 20px 18px 0;
    border-color: transparent #EDEDED transparent transparent;
    top: 56%;
    left: -20px;
    margin-top: -9px;
}

.bubble .name {
  font-weight: 700;
  color: #4ACA59;
}

h2 {
  font-weight: 500;
  margin: 0;
}

.bubble p {
  margin: 0;
}

#chart_div {
  align-self: center;
}

#graph_desc {
  color: #c6c6c6;
  font-weight: 400;
  text-align: center;
}

.home-btn {
    align-self: flex-end;
    margin-top: 2rem;
    font-weight: 500;
    color: #4aca59;
    font-size: 1.5em;
    margin-right: 5vw;
    text-decoration: none;
}

.home-btn:hover {
  text-decoration: underline;
}

.plug {
  text-align: center;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

.frame .bubble {
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 768px) {
  .bubble {
    max-width: 80%;
  }
  .bubble p {
    font-size: 1rem;
  }
  .bubble h2 {
    font-size: 1.5rem;
  }
  .bubble::after {
    border-width: 0 30px 18px 0;
  }
  .msgs {
    row-gap: 1rem;
  }
  #total_msg, #graph_desc {
    width: 100%;
    text-align: center;
  }
  #total_msg h2, #graph_desc {
    font-size: 0.9rem;
  }
  #hour_msg {
    max-width: 90vw;
    font-size: 0.85rem;
    padding: 0.5rem;
  }
  #hour_msg #hour {
    font-size: 1.5rem;
    font-weight: 500;
  }
  #streak_cont:not(.sharable-h2) {
    text-align: center;
  }
}

.emojis {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.emojis-cont {
  display: flex;
    justify-content: space-evenly;
}

.emoji-user {
   display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    color: #c6c6c6;
    margin-top: 2rem;
}

.emoji-line {
  font-size: 40px;
  color: black;
}

#emoji-title {
  max-width: 80%;
  margin: auto;
}

#hour {
  font-size: 1.5em;
  margin-right: 5px;
  color: #4ACA59;
}

.time.bubble{
 font-size: 1em;
    margin-bottom: 3rem;
}

.streak-cont {
  margin-top: 4rem;
}

.streak-title {
  margin-top: 4rem;
  max-width: 85%;
  margin: auto;
  text-align: center;
}

.streak .fire {
  font-size: 5em;
}

.streak {
  display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
}

.streak p {
  font-size: 2em;
}

#streak {
  font-weight: bold;
}

button {
    border: none;
    font-family: "DM Sans", sans-serif;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 6px;
    column-gap: 5px;
    background: #EDEDED;
    cursor: pointer;
    font-size: 1em;
}

button:hover{
    background: #4aca59;
    color: white;
}

.material-icons-outlined {
    font-family: 'Material Icons';
}

.center-for-ss {
  width: 100%;
  text-align: center;
}

.share-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.wordcloud-cont {
    margin-top: 2rem;
}